{% extends 'portfolio/main.html' %}
{% load static %}
{% block title %} Caio Gomes | Acerca de {% endblock title %}

{% block content %}

<div class="center">
    <h1>Acerca de mí</h1>
</div>
<div class="container indigo white-text z-depth-1" style="margin-top: 40px; border-radius: 8px;">
    <div style="padding: 20px;">
        <h2>Subtítulo</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur sequi a, ducimus exercitationem non
            natus
            sint totam doloribus assumenda. Ut laboriosam quam pariatur, reiciendis doloremque similique ipsam aliquid,
            quasi quia incidunt quos nemo tenetur atque eum iste eius consequatur porro illum architecto, delectus
            veritatis. Hic error assumenda consequatur fuga totam, voluptate blanditiis, fugit tempore sunt
            exercitationem
            libero inventore dicta deserunt amet. Possimus laboriosam eos voluptates, veniam totam numquam, ullam atque
            commodi ut tempora quod dolorum assumenda voluptatem molestiae corrupti quae doloremque. Adipisci esse dolor
            illum, fuga laborum provident labore ratione veniam quisquam tempore et dicta culpa ab ipsum nihil eum!
        </p>
    </div>
    <div style="display: flex; justify-content: end;">
        <a href="#" class="deep-orange waves-effect waves-light btn-large"
            style="margin-left: 20px; margin-bottom: 20px; margin-right: 20px;">Descargar CV</a>
    </div>

    <!-- 
    <p>
        Por supuesto utilizo un control de versiones en todos y cada uno de mis proyectos ya sea grande o pequeño
        para así tener una mejor organización. Utilizo git y github para implementar una gestión de mis
        repositorios.
    </p>
    <p>
        En cuanto a Python siempre creo un entorno virtual en el cual instalar todas las dependencias o librerías
        necesarias para desarrollar cualquier proyecto grande o pequeño a la vez que siempre dejo un archivo
        requirements.txt detallando las librerías necesarias y haciendo más fácil su instalación.
    </p>
    -->
</div>

<div class="center">
    <h1>
        Acerca mi trabajo
    </h1>
    <div class="divider"></div>
</div>

<div class="row" style="padding-top: 10px; padding-bottom: 10px; background-color: whitesmoke;">
    <div class="container container-flex">
        <div>
            <h2>
                Something here
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam totam consectetur adipisci, ullam, ea
                delectus
                earum eum a, qui mollitia asperiores alias quidem facilis quas. Corporis dolor dicta harum delectus
                laudantium praesentium provident itaque assumenda, dignissimos possimus a ipsa deserunt aliquid quidem
                ex
                aut libero cum ad consequatur corrupti, reiciendis modi? Numquam iusto cupiditate deleniti laborum
                consectetur placeat quod cum quisquam? Sunt praesentium a ad commodi culpa laudantium repellat rerum
                alias
                corporis harum ex libero, voluptates dolor ipsa odit id ab quis ducimus facere impedit aspernatur
                officia
                distinctio, obcaecati beatae? A ipsum nisi distinctio optio officiis quam tenetur debitis consequuntur?
            </p>
        </div>
        <div>
            <img class="responsive-img materialboxed z-depth-1 hoverable"
                src="https://materializecss.com/images/sample-1.jpg" alt="" style="border-radius: 8px;">
        </div>
    </div>
    <div class="container container-flex reverse-row">
        <div>
            <h2>
                Something here
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam totam consectetur adipisci, ullam, ea
                delectus
                earum eum a, qui mollitia asperiores alias quidem facilis quas. Corporis dolor dicta harum delectus
                laudantium praesentium provident itaque assumenda, dignissimos possimus a ipsa deserunt aliquid quidem
                ex
                aut libero cum ad consequatur corrupti, reiciendis modi? Numquam iusto cupiditate deleniti laborum
                consectetur placeat quod cum quisquam? Sunt praesentium a ad commodi culpa laudantium repellat rerum
                alias
                corporis harum ex libero, voluptates dolor ipsa odit id ab quis ducimus facere impedit aspernatur
                officia
                distinctio, obcaecati beatae? A ipsum nisi distinctio optio officiis quam tenetur debitis consequuntur?
            </p>
        </div>
        <div>
            <img class="responsive-img materialboxed z-depth-1 hoverable"
                src="https://materializecss.com/images/sample-1.jpg" alt="" style="border-radius: 8px;">
        </div>
    </div>
</div>



{% endblock content %}