{% extends 'portfolio/main.html' %}
{% load static %}
{% block title %} Caio Gomes | Acerca de {% endblock title %}

{% block content %}

<div class="center">
    <h1>Acerca de mí</h1>
</div>
<div class="container indigo lighten-1 white-text z-depth-1" style="margin-top: 40px; border-radius: 8px;">
    <div style="padding: 20px;">
        <h2>Información sobre mí</h2>
        <p>
            Me llamo Caio Cesar Gomes programador de Aplicaciones web y de escritorio con 2 años de experiencia. También
            soy técnico de Sistemas Microinformáticos y Redes desde 2022.
            Empecé a programar a los 15 años viendo tutoriales en YouTube sobre cómo hacer páginas web, al investigar un
            poco aprendí el funcionamiento de lenguajes como HTML y CSS, con los cuales practiqué mucho llegando a hacer
            un
            proyecto escolar. Posteriormente, me interesé en el lenguaje Python ya que era muy recomendado para novatos
            que
            apenas se
            introducían al mundo de la programación.
        </p>
        <p>
            A lo largo de mi experiencia he trabajado en diversos proyectos, la
            mayoría hechos con Python y sus librerías como Django para páginas web o PyQt para interfaces gráficas de
            escritorio. Aunque mi lenguaje preferido sea Python, no descarto la posibilidad de trabajar
            en proyectos empleando otros lenguajes ya que siempre estoy dispuesto a aprender. Siempre intento mantener
            buenas prácticas al desarrollar mis proyectos y procuro organizar bien mi área de trabajo y mis objetivos
            antes de
            emprender uno nuevo.
        </p>
        <p>
            Me considero una persona muy responsable, detallista, reflexiva y flexible. Me gusta
            mucho aprender y valoro mucho todos los consejos y explicaciones que me ayuden a mejorar como profesional en
            el sector. En un futuro aspiro a poder trabajar en alguna de las empresas más reconocidas del sector como
            Google, Amazon, Facebook... donde espero poder desarrollar y exprimir mis habilidades profesionales al
            máximo y
            desenvolverme en un equipo de personas.
        </p>
    </div>
    <div style="display: flex; justify-content: end;">
        <a href="https://raw.githubusercontent.com/caicesardev/CV/master/gomes_caio_cv.pdf" target="_blank"
            class="indigo darken-2 waves-effect waves-light btn-large"
            style="margin-left: 20px; margin-bottom: 20px; margin-right: 20px;">Descargar CV</a>
    </div>

    <!-- 
    <p>
        Por supuesto utilizo un control de versiones en todos y cada uno de mis proyectos ya sea grande o pequeño
        para así tener una mejor organización. Utilizo git y github para implementar una gestión de mis
        repositorios.
    </p>
    <p>
        En cuanto a Python siempre creo un entorno virtual en el cual instalar todas las dependencias o librerías
        necesarias para desarrollar cualquier proyecto grande o pequeño a la vez que siempre dejo un archivo
        requirements.txt detallando las librerías necesarias y haciendo más fácil su instalación.
    </p>
    -->
</div>

<div class="center">
    <h1>
        Acerca mi trabajo
    </h1>
    <div class="divider"></div>
</div>
<div class="row" style="padding-top: 10px; padding-bottom: 50px; background-color: whitesmoke;">
    <div class="container container-flex">
        <div>
            <h2>
                Something here
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam totam consectetur adipisci, ullam, ea
                delectus
                earum eum a, qui mollitia asperiores alias quidem facilis quas. Corporis dolor dicta harum delectus
                laudantium praesentium provident itaque assumenda, dignissimos possimus a ipsa deserunt aliquid quidem
                ex
                aut libero cum ad consequatur corrupti, reiciendis modi? Numquam iusto cupiditate deleniti laborum
                consectetur placeat quod cum quisquam? Sunt praesentium a ad commodi culpa laudantium repellat rerum
                alias
                corporis harum ex libero, voluptates dolor ipsa odit id ab quis ducimus facere impedit aspernatur
                officia
                distinctio, obcaecati beatae? A ipsum nisi distinctio optio officiis quam tenetur debitis consequuntur?
            </p>
        </div>
        <div>
            <img class="responsive-img materialboxed z-depth-1 hoverable"
                src="https://materializecss.com/images/sample-1.jpg" alt="" style="border-radius: 8px;">
        </div>
    </div>
    <div class="container container-flex reverse-row">
        <div>
            <h2>
                Something here
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam totam consectetur adipisci, ullam, ea
                delectus
                earum eum a, qui mollitia asperiores alias quidem facilis quas. Corporis dolor dicta harum delectus
                laudantium praesentium provident itaque assumenda, dignissimos possimus a ipsa deserunt aliquid quidem
                ex
                aut libero cum ad consequatur corrupti, reiciendis modi? Numquam iusto cupiditate deleniti laborum
                consectetur placeat quod cum quisquam? Sunt praesentium a ad commodi culpa laudantium repellat rerum
                alias
                corporis harum ex libero, voluptates dolor ipsa odit id ab quis ducimus facere impedit aspernatur
                officia
                distinctio, obcaecati beatae? A ipsum nisi distinctio optio officiis quam tenetur debitis consequuntur?
            </p>
        </div>
        <div>
            <img class="responsive-img materialboxed z-depth-1 hoverable"
                src="https://materializecss.com/images/sample-1.jpg" alt="" style="border-radius: 8px;">
        </div>
    </div>
</div>
<div class="divider" style="margin-top: -20px;"></div>

<div class="center">
    <h1>
        Mis conocimientos
    </h1>
</div>
<div class="row" style="padding-top: 10px; padding-bottom: 10px;">
    <div class="container center">
        <h2>Lenguajes de programación</h2>
        <p>Tengo experiencia en varios lenguajes de programación como por ejemplo...</p>
    </div>
    <div class="carousel">
        <a class="carousel-item" href="https://www.python.org/" target="_blank"><img
                src="{% static 'images/python-logo.png' %}"></a>
        <a class="carousel-item" href="https://www.w3schools.com/html/" target="_blank"><img
                src="{% static 'images/html-logo.png' %}"></a>
        <a class="carousel-item" href="https://developer.mozilla.org/es/docs/Web/CSS" target="_blank"><img
                src="{% static 'images/css-logo.png' %}"></a>
        <a class="carousel-item" href="https://www.java.com/es/" target="_blank"><img
                src="{% static 'images/java-logo.png' %}"></a>
        <a class="carousel-item" href="https://isocpp.org/" target="_blank"><img
                src="{% static 'images/cpp-logo.png' %}"></a>
        <a class="carousel-item" href="https://docs.microsoft.com/es-es/dotnet/csharp/" target="_blank"><img
                src="{% static 'images/csharp-logo.png' %}"></a>
    </div>
    <div class="container" style="margin-bottom: 100px;">
        <div class="container">
            <div class="left">
                <p>Python</p>
            </div>
            <div class="right">
                <p>70%</p>
            </div>
            <div class="progress">
                <div class="determinate" style="width: 70%"></div>
            </div>
        </div>
        <div class="container">
            <div class="left">
                <p>HTML5</p>
            </div>
            <div class="right">
                <p>100%</p>
            </div>
            <div class="progress">
                <div class="determinate" style="width: 100%"></div>
            </div>
        </div>
        <div class="container">
            <div class="left">
                <p>CSS3</p>
            </div>
            <div class="right">
                <p>100%</p>
            </div>
            <div class="progress">
                <div class="determinate" style="width: 100%"></div>
            </div>
        </div>
        <div class="container">
            <div class="left">
                <p>Java</p>
            </div>
            <div class="right">
                <p>30%</p>
            </div>
            <div class="progress">
                <div class="determinate" style="width: 30%"></div>
            </div>
        </div>
        <div class="container">
            <div class="left">
                <p>C++</p>
            </div>
            <div class="right">
                <p>10%</p>
            </div>
            <div class="progress">
                <div class="determinate" style="width: 10%"></div>
            </div>
        </div>
        <div class="container">
            <div class="left">
                <p>C#</p>
            </div>
            <div class="right">
                <p>40%</p>
            </div>
            <div class="progress">
                <div class="determinate" style="width: 40%"></div>
            </div>
        </div>
    </div>
    <div class="container center">
        <h2>Ofimática</h2>
        <p>Tengo experiencia usando diversos software ofimáticos...</p>
    </div>
    <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="https://materializecss.com/images/sample-1.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="https://materializecss.com/images/sample-1.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="https://materializecss.com/images/sample-1.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="https://materializecss.com/images/sample-1.jpg"></a>
        <a class="carousel-item" href="#five!"><img src="https://materializecss.com/images/sample-1.jpg"></a>
    </div>
</div>

<div class="center">
    <h1>
        Experiencia laboral
    </h1>
    <div class="divider"></div>
</div>
<div class="row" style="padding-top: 10px; padding-bottom: 50px; background-color: whitesmoke;">
    <div class="container container-flex">
        <div>
            <h2>
                Grup PIV de Sistemes - <span class="indigo-text">Prácticas en empresa</span>
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam totam consectetur adipisci, ullam, ea
                delectus
                earum eum a, qui mollitia asperiores alias quidem facilis quas. Corporis dolor dicta harum delectus
                laudantium praesentium provident itaque assumenda, dignissimos possimus a ipsa deserunt aliquid quidem
                ex
                aut libero cum ad consequatur corrupti, reiciendis modi? Numquam iusto cupiditate deleniti laborum
                consectetur placeat quod cum quisquam? Sunt praesentium a ad commodi culpa laudantium repellat rerum
                alias
                corporis harum ex libero, voluptates dolor ipsa odit id ab quis ducimus facere impedit aspernatur
                officia
                distinctio, obcaecati beatae? A ipsum nisi distinctio optio officiis quam tenetur debitis consequuntur?
            </p>
        </div>
        <div>
            <img class="responsive-img materialboxed z-depth-1 hoverable" src="{% static 'images/logo-piv.png' %}"
                alt="" style="border-radius: 8px;">
        </div>
    </div>
</div>
<div class="divider" style="margin-top: -20px;"></div>

<div class="center">
    <h1>
        Mi formación
    </h1>
</div>
<div class="row" style="padding-top: 10px; padding-bottom: 50px;">
    <div class="container container-flex">
        <div>
            <img class="responsive-img materialboxed z-depth-1 hoverable" src="{% static 'images/logo-montilivi.jpg' %}"
                alt="logo-montilivi" style="border-radius: 8px;">
        </div>
        <div>
            <h2>
                Técnico superior de Desarrollo de Aplicaciones Web (DAW) - <span class="indigo-text">Actualmente
                    cursando</span>
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam totam consectetur adipisci, ullam, ea
                delectus
                earum eum a, qui mollitia asperiores alias quidem facilis quas. Corporis dolor dicta harum delectus
                laudantium praesentium provident itaque assumenda, dignissimos possimus a ipsa deserunt aliquid quidem
                ex
                aut libero cum ad consequatur corrupti, reiciendis modi? Numquam iusto cupiditate deleniti laborum
                consectetur placeat quod cum quisquam? Sunt praesentium a ad commodi culpa laudantium repellat rerum
                alias
                corporis harum ex libero, voluptates dolor ipsa odit id ab quis ducimus facere impedit aspernatur
                officia
                distinctio, obcaecati beatae? A ipsum nisi distinctio optio officiis quam tenetur debitis consequuntur?
            </p>
        </div>
    </div>
    <div class="container container-flex">
        <div>
            <img class="responsive-img materialboxed z-depth-1 hoverable"
                src="{% static 'images/logo-lluiscompanys.png' %}" alt="logo-lluiscompanys" style="border-radius: 8px;">
        </div>
        <div>
            <h2>
                Técnico medio de Sistemas Microinformáticos y Redes (SMR)
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam totam consectetur adipisci, ullam, ea
                delectus
                earum eum a, qui mollitia asperiores alias quidem facilis quas. Corporis dolor dicta harum delectus
                laudantium praesentium provident itaque assumenda, dignissimos possimus a ipsa deserunt aliquid quidem
                ex
                aut libero cum ad consequatur corrupti, reiciendis modi? Numquam iusto cupiditate deleniti laborum
                consectetur placeat quod cum quisquam? Sunt praesentium a ad commodi culpa laudantium repellat rerum
                alias
                corporis harum ex libero, voluptates dolor ipsa odit id ab quis ducimus facere impedit aspernatur
                officia
                distinctio, obcaecati beatae? A ipsum nisi distinctio optio officiis quam tenetur debitis consequuntur?
            </p>
        </div>
    </div>
    <div class="container container-flex">
        <div>
            <img class="responsive-img materialboxed z-depth-1 hoverable"
                src="{% static 'images/logo-vescomtatdecabrera.png' %}" alt="lgoo-vescomtatdecabrera"
                style="border-radius: 8px;">
        </div>
        <div>
            <h2>
                Educación Secundaria Obligatoria (ESO)
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam totam consectetur adipisci, ullam, ea
                delectus
                earum eum a, qui mollitia asperiores alias quidem facilis quas. Corporis dolor dicta harum delectus
                laudantium praesentium provident itaque assumenda, dignissimos possimus a ipsa deserunt aliquid quidem
                ex
                aut libero cum ad consequatur corrupti, reiciendis modi? Numquam iusto cupiditate deleniti laborum
                consectetur placeat quod cum quisquam? Sunt praesentium a ad commodi culpa laudantium repellat rerum
                alias
                corporis harum ex libero, voluptates dolor ipsa odit id ab quis ducimus facere impedit aspernatur
                officia
                distinctio, obcaecati beatae? A ipsum nisi distinctio optio officiis quam tenetur debitis consequuntur?
            </p>
        </div>
    </div>
</div>
<div class="divider" style="margin-top: -20px;"></div>


{% endblock content %}