{% extends 'portfolio/main.html' %}
{% load static %}
{% block title %} Caio Gomes | Blog {% endblock title %}

{% block content %}

<div style="display: flex; flex-direction: column; align-items: center; margin-top: 100px; margin-bottom: 100px;">
    <div class="center-align">
        <h1 style="font-weight: bold;">¡Estoy en ello!</h1>
        <h2>
            Aquí habrá un blog...
        </h2>
        <p>De mientras sigue navegando por mi web... ¡O contáctame!.</p>
        <a href="{% url 'home' %}" class="indigo waves-effect waves-light btn-large">Volver a inicio</a>
        <a href="{% url 'contact' %}" class="indigo waves-effect waves-light btn-large">Contactar</a>
    </div>
</div>

{% endblock content %}