{% extends 'portfolio/main.html' %}
{% load static %}
{% block title %} Caio Gomes | Contacto {% endblock title %}

{% block content %}


<div class="container" style="padding-top: 120px;">

    <div class="row">
        <form class="col s12">

            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Nombre</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">email</i>
                    <input id="email" type="email" class="validate">
                    <label for="email">Correo</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">subject</i>
                    <input id="subject" type="text" class="validate">
                    <label for="subject">Asunto</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">message</i>
                    <textarea id="message" type="text" class="materialize-textarea"></textarea>
                    <label for="message">Mensaje</label>
                </div>
            </div>

            <div class="row">

                <div class="submit-row col s12 right-align">

                    <button class="indigo btn-floating btn-large waves-effect waves-light" type="reset"
                        style="margin-right: 20px;">
                        <i class="material-icons">replay</i>
                    </button>

                    <button class="indigo btn-floating btn-large waves-effect waves-light" type="submit" name="action">
                        <i class="material-icons">send</i>
                    </button>

                </div>

            </div>

        </form>
    </div>

</div>


{% endblock content %}