{% extends 'portfolio/main.html' %}
{% load static %}
{% block title %} Caio Gomes | Preguntas frecuentes {% endblock title %}

{% block content %}

<div class="center">
    <h1>
        Preguntas frecuentes
    </h1>
</div>

<div class="row">
    <div class="container">
        <h2>
            Encuentra tu respuesta
        </h2>
        <p>
            He recopilado las preguntas más importantes que quizás te estés haciendo ahora mismo.
        </p>
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">filter_drama</i>
                    ¿Por qué he creado esta página usando Django en vez de Wordpress?
                </div>
                <div class="collapsible-body">
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ut vitae nobis autem a! Aperiam,
                        aliquam fugiat atque non veritatis officia consectetur quos architecto ab facilis, expedita
                        illum, sed aliquid praesentium tempora. Nisi expedita, voluptates aperiam inventore rerum
                        doloribus fugiat ullam a error, culpa maiores sunt hic quia dolorem nam veritatis? Deserunt quia
                        atque possimus cumque magnam in error, doloribus officia! Pariatur ex quisquam ab odit, quod
                        deleniti, recusandae blanditiis dolorem aperiam tempore harum est ullam maxime eius, nisi
                        ducimus quos error debitis possimus! Adipisci quasi cupiditate harum alias aliquam obcaecati
                        asperiores voluptate ut sapiente dolore tempore dignissimos rerum atque officia, labore unde
                        veritatis necessitatibus cum? Possimus iusto consectetur voluptates corrupti quos rem voluptas
                        iste nesciunt et provident vel eos cumque doloribus, nemo molestias necessitatibus porro,
                        deleniti est quasi beatae.
                    </span>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">place</i>
                    ¿Dónde vivo?
                </div>
                <div class="collapsible-body">
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, corrupti praesentium quisquam
                        nam harum tempore sunt iste neque culpa obcaecati eaque fugit iure repellendus omnis dolor
                        possimus doloribus eum ex sint rerum enim rem iusto quaerat! Obcaecati quidem rerum nostrum
                        pariatur fugiat, repellat sequi vitae ipsum blanditiis veritatis? Facilis quod repellat totam
                        numquam modi a. Quos ut reiciendis maxime unde tempore voluptatem, eligendi aliquam ipsa dolor
                        laborum, aperiam quasi, voluptate illum nisi officia dolores possimus! Sapiente minima eius
                        inventore harum tempore suscipit dolor ex ullam nam voluptates blanditiis odit, quas adipisci
                        veniam corporis sunt culpa obcaecati fugit architecto? Et, optio facilis ipsum quos magnam vel
                        ab facere hic nam reprehenderit sint quia commodi esse aspernatur. Quae laborum, animi doloribus
                        rerum esse voluptatem sint pariatur repellat cumque exercitationem autem eius dignissimos.
                    </span>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">whatshot</i>
                    ¿Qué IDE utilizo?
                </div>
                <div class="collapsible-body">
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus culpa obcaecati deserunt
                        consectetur sequi minus fugiat quasi eaque facere eum tempora deleniti ad quam earum provident,
                        odit asperiores cumque et, sunt voluptatum quas. Distinctio repellat sunt perferendis ipsam,
                        voluptatem quasi ullam, voluptas ut quis, tempore cumque alias quia saepe officiis omnis harum
                        quae fugiat. Quis odit illo autem aspernatur nesciunt molestias suscipit maxime accusantium
                        laborum sit unde, molestiae ipsa ut hic consequuntur debitis reiciendis quibusdam at aliquid,
                        quod, recusandae quo! Aut, necessitatibus cupiditate. Quibusdam sed vero doloremque molestiae
                        illum exercitationem expedita nobis perspiciatis quaerat iste possimus recusandae laboriosam, ab
                        unde, error iure architecto fugit ratione! Asperiores officiis autem non necessitatibus.
                    </span>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">whatshot</i>
                    ¿Qué IDE utilizo?
                </div>
                <div class="collapsible-body">
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus culpa obcaecati deserunt
                        consectetur sequi minus fugiat quasi eaque facere eum tempora deleniti ad quam earum provident,
                        odit asperiores cumque et, sunt voluptatum quas. Distinctio repellat sunt perferendis ipsam,
                        voluptatem quasi ullam, voluptas ut quis, tempore cumque alias quia saepe officiis omnis harum
                        quae fugiat. Quis odit illo autem aspernatur nesciunt molestias suscipit maxime accusantium
                        laborum sit unde, molestiae ipsa ut hic consequuntur debitis reiciendis quibusdam at aliquid,
                        quod, recusandae quo! Aut, necessitatibus cupiditate. Quibusdam sed vero doloremque molestiae
                        illum exercitationem expedita nobis perspiciatis quaerat iste possimus recusandae laboriosam, ab
                        unde, error iure architecto fugit ratione! Asperiores officiis autem non necessitatibus.
                    </span>
            </li>
        </ul>
    </div>

</div>

{% endblock content %}