{% extends 'portfolio/main.html' %}
{% load static %}
{% block title %} Caio Gomes | Preguntas frecuentes {% endblock title %}

{% block content %}

<div class="center">
    <h1>
        Preguntas frecuentes
    </h1>
</div>

<div class="row">
    <div class="container">
        <h2>
            Encuentra tu respuesta
        </h2>
        <p>
            He recopilado algunas de las preguntas más importantes que quizás te estés haciendo ahora mismo.
        </p>
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">filter_drama</i>
                    ¿Por qué he creado esta página usando Django en vez de Wordpress?
                </div>
                <div class="collapsible-body">
                    <span>
                        Básicamente, porque me gusta mucho el framework Django para hacer páginas web, ya que es muy
                        completo y versátil. Aparte de que me gusta poder personalizar cada componente de la
                        página web manualmente, cosa que en Wordpress puede hacerse más tedioso.
                    </span>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">place</i>
                    ¿Dónde vivo?
                </div>
                <div class="collapsible-body">
                    <span>
                        Vivo en la provincia de Gerona en España.
                    </span>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">whatshot</i>
                    ¿Qué IDE utilizo?
                </div>
                <div class="collapsible-body">
                    <span>
                        Mi IDE preferido a la hora de programar es definitivamente <a
                            href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a>. Llevo años
                        utilizandolo y me siento muy cómodo con él para todos mis proyectos, ya que es rápido y cuenta
                        con muchas extensiones que me permiten ser más productivo. Aparte de Visual Studio Code me
                        gusta mucho <a href="https://www.jetbrains.com/es-es/pycharm/" target="_blank">PyCharm</a> de <a
                            href="https://www.jetbrains.com/" target="_blank">JetBrains</a>.
                    </span>
            </li>
        </ul>
    </div>

</div>

{% endblock content %}