{% extends 'portfolio/main.html' %}
{% load static %}
{% block title %} Caio Gomes | Proyectos {% endblock title %}

{% block content %}

<div>
    <div class="container">
        <h1 style="text-align: center;">
            Todos mis proyectos
        </h1>
        <h2>
            Sobre esta página
        </h2>
        <p>
            En esta página se recopilarán todos y cada uno de los proyectos de los cuales me sienta más orgulloso. Cada
            año se añadirán nuevos proyectos con intención de aprender tecnologías nuevas o mejorar mis habilidades.
        </p>
        <h2>
            Sobre mi trabajo
        </h2>
        <p>
            Soy una persona muy aplicada y responsable con mi trabajo, siempre intento dar lo mejor de mí y mis
            proyectos son reflejo
            de mis esfuerzos. Aún soy un programador novato con pocos años de experiencia, pero tengo muchas ganas de
            aprender y soy totalmente autodidacta.
        </p>
    </div>
</div>

<br>
<br>
<br>

<div class="row">
    <div class="col s12 m9 l10">
        <div id="guidownloader" class="section scrollspy z-depth-1">
            <div class="container">
                <h1>GUIDownloader</h1>
                <h2>GUIDownloader es una aplicación de escritorio de código abierto para descargar vídeos de YouTube.
                </h2>
                <p>
                    Esta aplicación escrita en Python se encarga de descargar cualquier vídeo de <a
                        href="https://www.youtube.com" target="_blank">YouTube</a> en formato MP4 o MP3. El usuario
                    puede elegir qué
                    formato descargar, así como su calidad. Para descargar los vídeos, la librería yt_dlp, actúa en el
                    backend de la aplicación validando el enlace y recogiendo los metadatos necesarios, posteriormente,
                    al incrustar yt_dlp a Python podremos descargar dicho vídeo en el
                    formato que deseemos con una simple función para más información consulta sobre <a
                        href="https://github.com/yt-dlp/yt-dlp" target="_blank">yt_dlp</a>. A la hora de convertir los
                    formatos de vídeo
                    se usa una aplicación de
                    terceros
                    llamada <a href="https://ffmpeg.org/" target="_blank">FFMPEG</a> siendo este uno de los conversores
                    de vídeo más utilizado en la actualidad.
                </p>
                <p>
                    En conclusión, diré que desarrollé esta aplicación porque me interesaba la idea de poder descargar
                    vídeos de YouTube de manera rápida empleando Python. Con este proyecto he aprendido sobre los
                    diferentes formatos de vídeo y audio, así como sus parámetros más importantes.
                </p>
                <h2>Tecnologías</h2>
                <div class="divider"></div>
                <br>
                <ul class="collection">
                    <li class="collection-item">Python 3.9.1</li>
                    <li class="collection-item">PySide6</li>
                    <li class="collection-item">yt_dlp</li>
                    <li class="collection-item">FFMPEG</li>
                </ul>
                <h2>Galería</h2>
                <div class="divider"></div>
                <div class="carousel">
                    <a class="carousel-item"
                        href="https://raw.githubusercontent.com/caicesardev/GUIDownloader/master/res/images/GUIDownloader-screenshot-2.png"><img
                            src="https://raw.githubusercontent.com/caicesardev/GUIDownloader/master/res/images/GUIDownloader-screenshot-2.png"></a>
                    <a class="carousel-item"
                        href="https://raw.githubusercontent.com/caicesardev/GUIDownloader/master/res/images/GUIDownloader-screenshot-1.png"><img
                            src="https://raw.githubusercontent.com/caicesardev/GUIDownloader/master/res/images/GUIDownloader-screenshot-1.png"></a>
                    <a class="carousel-item"
                        href="https://raw.githubusercontent.com/caicesardev/GUIDownloader/master/res/images/GUIDownloader-screenshot-3.png"><img
                            src="https://raw.githubusercontent.com/caicesardev/GUIDownloader/master/res/images/GUIDownloader-screenshot-3.png"></a>
                </div>
            </div>
            <div class="right-align" style="margin: 50px;">
                <a href="https://github.com/caicesardev/GUIDownloader"
                    class="grey darken-2 waves-effect waves-light btn-large" target="_blank">Código Fuente</a>
                <a href="https://github.com/caicesardev/GUIDownloader/releases/download/v1.0.0/GUIDownloader.exe"
                    class="black waves-effect waves-light btn-large">Descargar</a>
            </div>
            <div class="right-align" style="margin-right: 20px;">
                <p class="red-text">* Proyecto en desarrollo, puede contener errores</p>
            </div>
        </div>
        <div id="notepy" style="margin-top: 100px;" class="section scrollspy z-depth-1">
            <div class="container">
                <h1>Notepy</h1>
                <h2>Notepy es una aplicación de escritorio de código abierto para escribir textos.</h2>
                <p>
                    Esta aplicación escrita en <a href="https://www.python.org" target="_blank">Python</a> te permite
                    escribir
                    documentos de texto de la misma manera que el
                    <a href="https://apps.microsoft.com/store/detail/windows-notepad/9MSMLRH6LZF3?hl=es-es&gl=ES"
                        target="_blank">bloc de notas tradicional de Windows</a>. Las funciones de esta aplicación son
                    las mismas que el de un
                    bloc de notas, puedes escribir, modificar y guardar archivos .txt donde y cuando tú quieras. Para
                    hacer la interfaz gráfica, utilicé una librería de Python llamada <a
                        href="https://doc.qt.io/qtforpython/index.html" target="_blank">PySide6</a>. Tengo planes de
                    ampliar
                    las funcionalidades de esta aplicación en un futuro y ofrecer temas de colores y más herramientas de
                    edición de texto.
                </p>
                <p>Para concluir diré que desarrollé esta aplicación para aprender cómo funciona y cómo se hace una
                    aplicación de bloc de notas empleando Python como lenguaje de programación.</p>
                <h2>Tecnologías</h2>
                <div class="divider"></div>
                <br>
                <ul class="collection">
                    <li class="collection-item">Python 3.9.1</li>
                    <li class="collection-item">PySide6</li>
                </ul>
                <h2>Galería</h2>
                <div class="divider"></div>
                <div class="carousel">
                    <a class="carousel-item"
                        href="https://raw.githubusercontent.com/caicesardev/Notepy/master/res/images/notepy-screenshot-1.png"><img
                            src="https://raw.githubusercontent.com/caicesardev/Notepy/master/res/images/notepy-screenshot-1.png"></a>
                    <a class="carousel-item"
                        href="https://raw.githubusercontent.com/caicesardev/Notepy/master/res/images/notepy-screenshot-3.png"><img
                            src="https://raw.githubusercontent.com/caicesardev/Notepy/master/res/images/notepy-screenshot-3.png"></a>
                    <a class="carousel-item"
                        href="https://raw.githubusercontent.com/caicesardev/Notepy/master/res/images/notepy-screenshot-2.png"><img
                            src="https://raw.githubusercontent.com/caicesardev/Notepy/master/res/images/notepy-screenshot-2.png"></a>
                </div>
            </div>
            <div class="right-align" style="margin: 50px;">
                <a href="https://github.com/caicesardev/Notepy" class="grey darken-2 waves-effect waves-light btn-large"
                    target="_blank">Código Fuente</a>
                <a href="https://github.com/caicesardev/Notepy/releases/download/v1.0.0/Notepy.exe"
                    class="black waves-effect waves-light btn-large">Descargar</a>
            </div>
            <div class="right-align" style="margin-right: 20px;">
                <p class="red-text">* Proyecto en desarrollo, puede contener errores</p>
            </div>
        </div>
        <div id="ecommerce" style="margin-top: 100px;" class="section scrollspy z-depth-1">
            <div class="container">
                <h1>Ecommerce</h1>
                <h2>Moonlight es una página web desarrollada para aprender como implementar un Ecommerce.</h2>
                <p>
                    Esta página web tenía el propósito de poder vender todos tus productos, así como poder editar sus
                    precios y ofertas. En esta web podías registrarte e iniciar sesión como usuario y posteriormente
                    acceder a tu perfil y cambiar sus parámetros. En la página principal de la tienda tenías acceso a
                    todos los productos disponibles, los cuales podrías filtrar por categoría, había un carrito de la
                    compra donde aparecían todos los productos que te interesan comprar y una página "Checkout" donde
                    proceder con el pago.
                </p>
                <p>
                    También utilicé Django para desarrollar esta web, ya que quería aprender a implementar el rol de
                    Ecommerce a una aplicación web hecha con <a href="https://www.djangoproject.com/"
                        target="_blank">Python-Django</a>
                    a la vez que utilicé <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> para
                    implementar un diseño rápido y moderno. Por desgracia, este proyecto no recibirá más
                    actualizaciones.
                </p>
                <h2>Tecnologías</h2>
                <div class="divider"></div>
                <br>
                <ul class="collection">
                    <li class="collection-item">Python 3.9.1</li>
                    <li class="collection-item">Django</li>
                    <li class="collection-item">HTML5</li>
                    <li class="collection-item">CSS3</li>
                    <li class="collection-item">Bootstrap</li>
                    <li class="collection-item">JavaScript</li>
                </ul>
                <h2>Galería</h2>
                <div class="divider"></div>
                <div class="carousel">
                    <a class="carousel-item"
                        href="https://raw.githubusercontent.com/caicesardev/ecommerce/master/ecommerce/static/images/ecommerce-store.jpg"><img
                            src="https://raw.githubusercontent.com/caicesardev/ecommerce/master/ecommerce/static/images/ecommerce-store.jpg"></a>
                    <a class="carousel-item"
                        href="https://raw.githubusercontent.com/caicesardev/ecommerce/master/ecommerce/static/images/ecommerce-cart.jpg"><img
                            src="https://raw.githubusercontent.com/caicesardev/ecommerce/master/ecommerce/static/images/ecommerce-cart.jpg"></a>
                    <a class="carousel-item"
                        href="https://raw.githubusercontent.com/caicesardev/ecommerce/master/ecommerce/static/images/ecommerce-checkout.png"><img
                            src="https://raw.githubusercontent.com/caicesardev/ecommerce/master/ecommerce/static/images/ecommerce-checkout.png"></a>
                    <a class="carousel-item"
                        href="https://raw.githubusercontent.com/caicesardev/ecommerce/master/ecommerce/static/images/ecommerce-register.png"><img
                            src="https://raw.githubusercontent.com/caicesardev/ecommerce/master/ecommerce/static/images/ecommerce-register.png"></a>
                    <a class="carousel-item"
                        href="https://raw.githubusercontent.com/caicesardev/ecommerce/master/ecommerce/static/images/ecommerce-login.png"><img
                            src="https://raw.githubusercontent.com/caicesardev/ecommerce/master/ecommerce/static/images/ecommerce-login.png"></a>
                    <a class="carousel-item"
                        href="https://raw.githubusercontent.com/caicesardev/ecommerce/master/ecommerce/static/images/ecommerce-profile-settings.png"><img
                            src="https://raw.githubusercontent.com/caicesardev/ecommerce/master/ecommerce/static/images/ecommerce-profile-settings.png"></a>
                    <a class="carousel-item"
                        href="https://raw.githubusercontent.com/caicesardev/ecommerce/master/ecommerce/static/images/ecommerce-theme.png"><img
                            src="https://raw.githubusercontent.com/caicesardev/ecommerce/master/ecommerce/static/images/ecommerce-theme.png"></a>
                    <a class="carousel-item"
                        href="https://raw.githubusercontent.com/caicesardev/ecommerce/master/ecommerce/static/images/ecommerce-notifications.png"><img
                            src="https://raw.githubusercontent.com/caicesardev/ecommerce/master/ecommerce/static/images/ecommerce-notifications.png"></a>
                </div>
            </div>
            <div class="right-align" style="margin: 50px;">
                <a href="https://github.com/caicesardev/ecommerce/"
                    class="grey darken-2 waves-effect waves-light btn-large" target="_blank">Código Fuente</a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                    class="black waves-effect waves-light btn-large disabled" target="_blank">Visitar web</a>
            </div>
            <div class="right-align" style="margin-right: 20px;">
                <p class="red-text">* Proyecto abandonado</p>
            </div>

        </div>
        <div id="csvtoaccess" style="margin-top: 100px;" class="section scrollspy z-depth-1">
            <div class="container">
                <h1>CSVToAccess</h1>
                <h2>CSVToAccess es un script para operar con bases de datos .accdb.</h2>
                <p>
                    Este simple script escrito en Python se encarga de escribir los datos de un archivo CSV a una tabla
                    de <a href="https://www.microsoft.com/es-es/microsoft-365/access">Microsoft Access</a>. Este script
                    utiliza librerías como sqlalchemy y pandas para leer los archivos y escribir los datos correctamente
                    al archivo .accdb.
                </p>
                <p>Es importante saber que las columnas entre el archivo CSV y la tabla de la base de datos han de
                    coincidir para que pueda funcionar. En caso de que te dé un error no esperado, es posible que tengas
                    que instalar el <a href="https://www.microsoft.com/en-us/download/details.aspx?id=54920">motor de
                        base de datos de MS Access</a>.</p>
                <h2>Tecnologías</h2>
                <div class="divider"></div>
                <br>
                <ul class="collection">
                    <li class="collection-item">Python 3.9.1</li>
                </ul>
                <h2>Galería</h2>
                <div class="divider"></div>
                <div class="carousel">
                    <a class="carousel-item"
                        href="https://raw.githubusercontent.com/caicesardev/CSVTOACCESS/master/images/CSVTOACCESS-screenshot-1.png"><img
                            src="https://raw.githubusercontent.com/caicesardev/CSVTOACCESS/master/images/CSVTOACCESS-screenshot-1.png"></a>
                </div>
            </div>
            <div class="right-align" style="margin: 50px;">
                <a href="https://github.com/caicesardev/CSVTOACCESS/"
                    class="grey darken-2 waves-effect waves-light btn-large" target="_blank">Código Fuente</a>
                <a href="https://github.com/caicesardev/CSVTOACCESS/releases/download/v1.0.0/CsvToAccess.exe"
                    class="black waves-effect waves-light btn-large">Descargar</a>
            </div>
        </div>
        <div id="thisweb" style="margin-top: 100px;" class="section scrollspy z-depth-1">
            <div class="container">
                <h1>Esta página</h1>
                <h2>Esta página web cuenta como uno de mis mejores proyectos.</h2>
                <p>
                    Esta página web ha sido creada para actuar como mi portafolio personal y sustituir mi anterior
                    página. Con este proyecto he podido usar un nuevo framework de CSS llamado <a
                        href="https://materializecss.com">Materialize</a> y con él
                    conseguir este aspecto material, consiguiendo así una mejor adaptabilidad entre escritorio y móvil.
                </p>
                <p>
                    Aunque esta sea una versión mejorada de mi anterior web, no descarto la posibilidad de hacer
                    pequeños retoques en un futuro, así como mantenerla actualizada anualmente, añadiendo nuevos
                    proyectos
                    en los que haya participado o construido.
                </p>
                <h2>Tecnologías</h2>
                <div class="divider"></div>
                <br>
                <ul class="collection">
                    <li class="collection-item">Python 3.9.1</li>
                    <li class="collection-item">Django</li>
                    <li class="collection-item">HTML5</li>
                    <li class="collection-item">CSS3</li>
                    <li class="collection-item">Materialize</li>
                </ul>
                <h2>Galería</h2>
                <div class="divider"></div>
                <div class="carousel">
                    <a class="carousel-item" href="#one!"><img src="https://materializecss.com/images/sample-1.jpg"></a>
                    <a class="carousel-item" href="#two!"><img src="https://materializecss.com/images/sample-1.jpg"></a>
                    <a class="carousel-item" href="#three!"><img
                            src="https://materializecss.com/images/sample-1.jpg"></a>
                    <a class="carousel-item" href="#four!"><img
                            src="https://materializecss.com/images/sample-1.jpg"></a>
                    <a class="carousel-item" href="#five!"><img
                            src="https://materializecss.com/images/sample-1.jpg"></a>
                </div>
            </div>
            <div class="right-align" style="margin: 50px;">
                <a href="https://github.com/caicesardev/MyWeb" class="grey darken-2 waves-effect waves-light btn-large"
                    target="_blank">Código Fuente</a>
                <a href="https://caiogomes.herokuapp.com" target="_blank"
                    class="black waves-effect waves-light btn-large">Visitar
                    web</a>
            </div>
        </div>
    </div>
    <div class="col hide-on-small-only m3 l2">
        <ul class="section table-of-contents">
            <li><a href="#guidownloader">GUIDownloader</a></li>
            <li><a href="#notepy">Notepy</a></li>
            <li><a href="#ecommerce">Ecommerce</a></li>
            <li><a href="#csvtoaccess">CSVToAccess</a></li>
            <li><a href="#thisweb">Esta página</a></li>
        </ul>
    </div>
</div>

<div style="margin-top: 100px; margin-bottom: 100px;">
    <div class="center-align">
        <h1 style="font-weight: bold;">¿A qué esperas?</h1>
        <h2>
            ¡Estoy deseando trabajar contigo!
        </h2>
        <p>Contáctame y hablemos de los detalles de tu proyecto.</p>
        <a href="{% url 'contact' %}" class="black waves-effect waves-light btn-large">Contactar</a>
    </div>
</div>

{% endblock content %}