{% extends 'portfolio/main.html' %}
{% load static %}
{% block title %} Caio Gomes | Proyectos {% endblock title %}

{% block content %}


<div class="container">

    <div class="carousel">
        <a class="carousel-item" href="#one!"><img
                src="https://raw.githubusercontent.com/caicesardev/CSVTOACCESS/master/images/CSVTOACCESS-screenshot-1.png"></a>
        <a class="carousel-item" href="#two!"><img src="{% static 'images/ecommerce-store.jpg' %}"></a>
        <a class="carousel-item" href="#three!"><img
                src="https://raw.githubusercontent.com/caicesardev/Notepy/master/res/images/notepy-screenshot-1.png"></a>
        <a class="carousel-item" href="#four!"><img
                src="https://raw.githubusercontent.com/caicesardev/GUIDownloader/master/res/images/GUIDownloader-screenshot-2.png"></a>
        <a class="carousel-item" href="#five!"><img src="{% static 'images/this_web.png' %}"></a>
    </div>

</div>


{% endblock content %}