body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1 {
    font-size: 2.2rem!important;
}

h2 {
    font-size: 1.2rem!important;
}

.parallax-title {
    font-family: 'Arvo', serif;
    text-align: center;
    font-size: 3.6rem;
    line-height: 0;
    color: #1c898f;
}

.parallax-subtitle {
    font-family: 'Arvo', serif;
    text-align: center;
    font-size: 1.3rem;
    color: #474554;
}